#stats {
    .wert {
        font-weight: bold;
    }
    >span {
        margin-right: 1em;
    }
}

#gameState {
    .richtig {
        background-color: green;
    }
    .falsch {
        background-color: red;
    }
}

#gameBox {
    font-weight: bold;
    div {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

#currentList, #anzeigeRunde {
    line-height: 36px;
}

#end {
    .round1 {
        background-color: green;
    }
    .round2 {
        background-color: rgba(red,.25);
    }
    .round3 {
        background-color: rgba(red,.5);
    }
    .round4 {
        background-color: rgba(red,.75);
    }
    .round5 {
        background-color: rgba(red,1);
    }
}

.wortPaar {
    display: flex;
    margin: 1em 0;
    font-weight: bold;
    &.falsch {
        color: red;
    }
    &.richtig {
        color: green;
    }
    div {
        width: 100%;
        text-align: center;
        padding: 1em;
        height: 2em;
        line-height: 2;
    }
}

#controlpanel {
    background-color: #dddddd;
    justify-content: space-between;
    align-items: center;
    height: 1.5em;
	padding: 1em;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.4);
}

#selectBook {
	width: 9em;
}
#selectUnit {
	width: 9em;
}
#selectList {
	width: 24em;
}

#history {
    height: 40em;
    overflow: auto;
}