body * {
	font-family: serif;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}


#infos {
	background-color: #dddddd;
	padding: 1em;
	text-align: center;
}


#infos .wert {
	font-weight: bold;
}

#infos > span {
	margin-right: 1em;
}

#anzeigeRichtig {
	color: green;
}
#anzeigeFalsch {
	color: red;
}
#infos .wert {
	font-weight: bold;
}

#spielBox {
	display: none;
}
#spielBox.aktiv {
	display: flex !important;
}

.wortPaar {
	display: flex;
	margin: 1em 0;
	font-weight: bold;
}
.wortPaar.falsch {
	color: red;
}
.wortPaar.richtig {
	color: green;
}
.wortPaar div {
	width: 100%;
	text-align: center;
	padding: 1em;
	height: 2em;
	line-height: 2;
}
#english {
	background-color: #5555ff;
}
#deutsch {
	background-color: #55dd55
}

#ende {
	display: none;
}

#controlpanel {
	padding: 1em;
	text-align: center
}

#controlpanel > div {
	display: none;
}

.aktiv {
	display: block !important; 
}

h3 {
	background-color: #dddddd;
}